/*Importaci칩n base*/
@import './pages/base';

/*Importaci칩n de elementos*/
@import './componentes/header';
@import './componentes/footer';
@import './componentes/return-link';
@import './componentes/register_form';
@import './componentes/main-section';

/*Importaci칩n de p치ginas*/
@import './pages/login';
@import './pages/index';