@charset "UTF-8";
/*Importación base*/
/*Breakpoints para Media Queries*/
/* Paleta de colores calico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #596e79;
}

/*Mixin para MQs*/
/*Importación de elementos*/
/*Estilos Header*/
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "logo user" "navbar navbar";
  background-color: #f0ece2;
  background-image: url("/images/bones-background.png");
  background-blend-mode: luminosity;
  background-size: contain;
  column-gap: 20px;
  row-gap: 10px;
  justify-items: center;
  align-items: center;
  max-height: 350px;
  /*Media Query Medium*/
}
.header__logo {
  grid-area: logo;
}
.header__logo-title {
  text-align: center;
  color: #596e79;
  font-size: 2.7em;
  backdrop-filter: blur(1px);
}
.header__login {
  grid-area: user;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  /* Efecto hover sobre botón*/
}
.header__login-button {
  background-color: #dfd3c3;
  color: #596e79;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 140px;
  padding: 10px;
  border: 2px solid #c7b198;
  border-radius: 5px;
}
.header__login-button:hover {
  background-color: #596e79;
  color: #dfd3c3;
}
.header__navbar {
  grid-area: navbar;
  margin-bottom: 20px;
  flex: 1 1 30%;
}
.header__navbar-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.header__navbar-menu-item {
  display: block;
  flex-basis: 30%;
  text-align: center;
}
.header__navbar-menu-item-link {
  width: 120px;
  border: 2px solid #c7b198;
  border-radius: 5px;
  text-decoration: none;
  padding: 1px 1px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  background-color: #f0ece2;
  color: #596e79;
}
.header__navbar-menu-item-link--current {
  border: 2px inset #c7b198;
}
@media (min-width: 768px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
  }
  .header__logo {
    justify-self: start;
  }
  .header__login {
    justify-self: end;
  }
  .header__navbar-menu {
    flex-wrap: nowrap;
  }
  .header__navbar-menu-item {
    flex-basis: auto;
  }
}
@media (min-width: 1240px) {
  .header {
    padding-left: 130px;
    padding-right: 130px;
  }
  .header__login {
    justify-self: end;
    flex-direction: row;
  }
}

/*Estilos Header*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #596e79;
  color: #dfd3c3;
  gap: 20px;
  padding: 15px;
  align-items: center;
  justify-content: space-evenly;
}
.footer__panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr;
  grid-template-areas: "title" "list";
  min-width: 300px;
  text-align: center;
  align-items: end;
}
.footer__panel-title {
  grid-area: title;
  font-size: 25px;
}
.footer__panel-list {
  grid-area: list;
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.footer__panel-list-item {
  display: inline-block;
  padding: 1px;
  /*Correción posición iconos*/
}
.footer__panel-list-item img {
  display: inline-block;
  position: relative;
  top: 4px;
}
@media (min-width: 768px) {
  .footer {
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: row;
  }
}
@media (min-width: 1240px) {
  .footer {
    padding-left: 130px;
    padding-right: 130px;
  }
}

/*Estilo básico para return-link, se encuentra en LOGIN y REGISTER html*/
.return-link {
  text-align: left;
  padding: 10px;
}
.return-link__button {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  color: #596e79;
  border: 1px solid #f0ece2;
  border-radius: 5px;
}

/*Register Form*/
.register-form {
  font-size: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 3px;
  max-width: 600px;
  grid-template-areas: "label-nombre label-apellido" "input-nombre input-apellido" "label-email label-telefono" "input-email input-telefono" "label-password ." "input-password ." "mail-sus data-politic" "submit submit";
}
.register-form__label {
  font-size: 0.8em;
  align-self: end;
}
.register-form__input {
  border-radius: 5px;
  font-family: "Gamja Flower", sans-serif;
  font-size: 1em;
}
.register-form__submit {
  border-radius: 5px;
  border: 2px solid #596e79;
  background-color: #f0ece2;
  font-family: "Gamja Flower", sans-serif;
  font-size: 1em;
}
.register-form__submit:hover {
  border: 2px solid #596e79;
  background-color: #dfd3c3;
}

.main-section {
  margin-left: 5px;
  margin-right: 5px;
}
.main-section__title {
  margin-top: 20px;
  font-size: 2em;
}
.main-section__article-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2px;
  align-items: center;
}
@media (min-width: 768px) {
  .main-section__article-container {
    flex-direction: row;
  }
}
@media (min-width: 1240px) {
  .main-section__article-container {
    flex-direction: row;
    gap: 30px;
  }
}

.article {
  max-width: 450px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 2fr;
  justify-items: center;
}
.article__title {
  font-size: 1.3em;
  align-self: self-end;
}
.article__title-link {
  text-decoration: none;
  color: #c7b198;
}
.article__thumbnail {
  display: block;
  width: 80%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.article__text {
  padding: 2px;
  text-align: start;
}
@media (min-width: 768px) {
  .article__thumbnail {
    width: 80%;
    height: 100%;
    height: 450px;
    object-fit: cover;
  }
}
@media (min-width: 1240px) {
  .article__thumbnail {
    width: 100%;
    height: 100%;
    height: 500px;
    object-fit: cover;
  }
}

.comment-section {
  padding: 10px;
  align-self: start;
  display: block;
}
.comment-section__comment-box {
  padding: 20px;
}
.comment-section__comment-box-title {
  font-size: 1.2em;
}
.comment-section__comment-box-form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "textarea input";
  gap: 5px;
}
.comment-section__comment-box-form-textarea {
  grid-area: textarea;
  min-width: 300px;
  min-height: 50px;
}
.comment-section__comment-box-form-input {
  grid-area: input;
  border-radius: 5px;
  border: 2px solid #596e79;
  background-color: #f0ece2;
  font-family: "Gamja Flower", sans-serif;
  font-size: 1em;
}
.comment-section__comment-box-form-input:hover {
  border: 2px solid #596e79;
  background-color: #dfd3c3;
}
.comment-section__comment-reel {
  padding: 20px;
}
.comment-section__comment-reel-entry {
  margin-top: 5px;
  margin-bottom: 10px;
}
.comment-section__comment-reel-entry-text {
  margin-left: 20px;
}

.albergues-card {
  border: 2px solid #596e79;
  padding: 20px;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 4fr 4fr;
  grid-template-areas: "title" "_text " "image-container" "map";
  gap: 10px;
  align-items: center;
}
.albergues-card__title {
  grid-area: title;
}
.albergues-card__text {
  grid-area: _text;
}
.albergues-card__map {
  grid-area: map;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #dfd3c3;
}
.albergues-card__image-container {
  grid-area: image-container;
  display: flex;
}
.albergues-card__image-container-item {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #dfd3c3;
}
@media (min-width: 768px) {
  .albergues-card {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/*Importación de páginas*/
/*Estilos para la pagina main.html
Contiene principalmente la división necesaria y los MQs
*/
.login-page {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.login-page__content-image img {
  display: block;
  width: 80vw;
  max-width: 500px;
  height: auto;
}
.login-page__content-form {
  padding: 10px;
  /*Modificador para la pagina de registro*/
}
.login-page__content-form-title {
  font-size: 3em;
  padding-bottom: 10px;
  color: #596e79;
}
.login-page__content-form-title--register {
  font-size: 2.5em;
}
.login-page__content-form-passrecovery {
  display: block;
  padding-top: 10px;
}
.login-page__content-form-form {
  font-size: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "labelcorreo inputcorreo submit" "labelpassword inputpassword submit";
  gap: 3px;
}
.login-page__content-form-form-labelcorreo {
  grid-area: labelcorreo;
}
.login-page__content-form-form-inputcorreo {
  grid-area: inputcorreo;
  border-radius: 5px;
  font-family: "Gamja Flower", sans-serif;
  font-size: 1em;
}
.login-page__content-form-form-labelpassword {
  grid-area: labelpassword;
}
.login-page__content-form-form-inputpassword {
  grid-area: inputpassword;
  border-radius: 5px;
  font-family: "Gamja Flower", sans-serif;
  font-size: 1em;
}
.login-page__content-form-form-submit {
  grid-area: submit;
  border-radius: 5px;
  border: 2px solid #596e79;
  background-color: #f0ece2;
  font-family: "Gamja Flower", sans-serif;
  font-size: 1em;
}
.login-page__content-form-form-submit:hover {
  border: 2px solid #596e79;
  background-color: #dfd3c3;
}

.main-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.post__article-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 2fr;
  grid-template-areas: "title" "image" "_text";
  align-items: center;
  justify-items: center;
  max-width: 500px;
}
.post__article-section-title {
  grid-area: title;
  justify-self: start;
}
.post__article-section-image {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 600px;
  max-width: 450px;
  border-radius: 10px;
}
.post__article-section-text {
  grid-area: _text;
}

.albergues {
  margin-left: 5px;
  margin-right: 5px;
}
.albergues__title {
  margin-top: 20px;
  font-size: 2em;
}
.albergues__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
