.albergues{
    margin-left: 5px;
    margin-right: 5px;

    &__title{
        margin-top: 20px;
        font-size: 2em;
    }

    &__container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        align-items: center;
    }

    @include respond-to(medium){
        margin-left: 100px;
        margin-right: 100px;
        &__container{
            flex-direction: row;
            justify-content: center;
        }

        &__title{
            text-align: center;
            font-size: 3em;
        }
    }
}