/*Estilos para la pagina main.html
Contiene principalmente la división necesaria y los MQs
*/

.login-page {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

    &__content-image{
        img {
            display: block;
            width: 80vw;
            max-width: 500px;
            height: auto;
        }
    }

    &__content-form{
        padding: 10px;

        &-title{
         font-size: 3em;
         padding-bottom: 10px;
         color: $cuaternary-color;
        }

        /*Modificador para la pagina de registro*/
        &-title--register{
            font-size: 2.5em;
        }

        &-passrecovery{
            display: block;
            padding-top: 10px;
        }

        &-form{
            font-size: 1em;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "labelcorreo inputcorreo submit"
            "labelpassword inputpassword submit";
            gap: 3px;

            &-labelcorreo{
                grid-area: labelcorreo;
            }

            &-inputcorreo{
                grid-area: inputcorreo;
                border-radius: 5px;
                font-family: $font-primary;
                font-size: 1em;
            }

            &-labelpassword{
                grid-area: labelpassword;
            }

            &-inputpassword{
                grid-area: inputpassword; 
                border-radius: 5px;
                font-family: $font-primary;
                font-size: 1em;
            }

            &-submit{
                grid-area: submit;
                border-radius: 5px;
                border: 2px solid $cuaternary-color;
                background-color: $primary-color;
                font-family: $font-primary;
                font-size: 1em;
            }

            &-submit:hover{
                border: 2px solid $cuaternary-color;
                background-color: $secondary-color;
                
            }
        }
    }

    @include respond-to(medium){
        justify-content: space-around;
        flex-direction: row;
    }

    @include respond-to(large){
        flex-direction: row;
        justify-content: space-evenly;
    }
}