/*Estilo básico para return-link, se encuentra en LOGIN y REGISTER html*/

.return-link {
    text-align: left;
    padding: 10px;
    
    &__button {
        text-decoration: none;
        display: inline-block;
        padding: 5px;
        font-weight: bold;
        color: $cuaternary-color;
        border: 1px solid $primary-color;
        border-radius: 5px;
    }
    
}